@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Change your password</h4>

<form action="/changepassform" method="post">
<input type="password" class="form-control w-50" name="password" placeholder="Password" /><br /><br />
<input type="password" class="form-control w-50" name="newPassword" placeholder="New Password" /><br />
<input type="password" class="form-control w-50" name="confirmPassword" placeholder="Confirm Password" /><br />

<input type="submit" class="btn btn-success w-15" value="Change password" />

</form>