@using Microsoft.AspNetCore.Components.Forms
@inject ILocalStorageService LocalStorage
@*@inject AuthenticationStateProvider AuthenticationStateProvider*@
@inject IToastService ToastService


Please log in below or <a href="register">Register</a> for new account.

<EditForm Model="user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="form-group">
        <lable for="email">Email</lable>
        <InputText id="email" @bind-Value="user.Email" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <lable for="password">Password</lable>
        <InputText id="password" @bind-Value="user.Password" class="form-control" type="password"></InputText>
    </div>
    <button type="submit" class="btn-link btn-primary">Login</button>
    <ValidationSummary></ValidationSummary>
</EditForm>

@code {
    private UserLogin user = new UserLogin();

    private  void HandleLogin()
    {
        
    }
}


